<%- include('../../layout/header.ejs') %>
  <%- include('../../layout/navbar.ejs') %>
    <%- include('../../layout/sidebar.ejs') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Patner</h1>
              </div>
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-12">

                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">
                      Form Tambah Patner
                    </h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">

                    <form action="/admin/patner" method="post" enctype="multipart/form-data">
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="nameOwner">Nama Pemilik Toko</label>
                          <input type="text" class="form-control" name="nameOwner" id="nameOwner"
                            placeholder="Masukan nama pemilik toko" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="noNik">No NIK</label>
                          <input type="text" class="form-control" name="noNik" id="noNik"
                            placeholder="Masukan nomer NIK" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="address">Alamat Pemilik Toko</label>
                          <textarea type="text" class="form-control" name="address" id="address"
                            placeholder="Masukan alamat pemilik toko" rows="3" required></textarea>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="locationStore">Lokasi Toko</label>
                          <textarea type="text" class="form-control" name="locationStore" id="locationStore"
                            placeholder="Masukan lokasi toko" rows="3" required></textarea>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="noHp">No HP</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-white"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control" name="noHp" id="noHp"
                              data-inputmask='"mask": "(+62) 999-9999-9999"' data-mask required>
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="dateJoin">Tanggal Bergabung</label>
                          <div class="input-group">
                            <input type="date" class="form-control" name="dateJoin" id="dateJoin" required>
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="nameBrand">Nama Brand</label>
                          <input type="text" class="form-control" name="nameBrand" id="nameBrand"
                            placeholder="Masukan nama brand" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="tagline">Tagline</label>
                          <input type="text" class="form-control" name="tagline" id="tagline"
                            placeholder="Masukan teks tegline" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="isRequestLogo">Request Logo</label>
                          <select name="isRequestLogo" id="isRequestLogo" class="form-control" required>
                            <option selected> -- Request logo -- </option>
                            <option value="1">Ya</option>
                            <option value="0">Tidak</option>
                          </select>
                        </div>
                        <div class="form-group col-md-6" id="color">
                          <label for="color">Warna</label>
                          <div class="input-group my-colorpicker2">
                            <input type="text" name="color" id="color" class="form-control">
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fas fa-square"></i></span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-md-6" id="color">
                          <label for="imageUrlKtp">Unggah Foto KTP</label>
                          <input type="file" class="form-control" name="imageUrlKtp" id="imageUrlKtp" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="typeBundle">Paket Franchise</label>
                          <select name="typeBundle" id="typeBundle" class="form-control" required>
                            <option selected> -- Paket franchise -- </option>
                            <% typeBundle.forEach(data=> { %>
                              <option value="<%= data._id %> ">
                                <%= data.title %>
                              </option>
                              <% }) %>
                          </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="username">Username</label>
                          <input type="text" class="form-control" name="username" id="username"
                            placeholder="Masukan username" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" name="password" id="password"
                            placeholder="Masukan username" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="confPassword">Confirm Password</label>
                          <input type="password" class="form-control" name="confPassword" id="confPassword"
                            placeholder="Masukan confirm password" required>
                        </div>
                        <div class="col-md-12 mt-2">
                          <h5 class="text-bold">Sosial Media</h5>
                          <div class="row">
                            <div class="form-group col-md-6" id="color">
                              <label for="facebook">Facebook</label>
                              <input type="text" class="form-control" name="facebook" id="facebook"
                                placeholder="Masukan username facebook">
                            </div>
                            <div class="form-group col-md-6" id="color">
                              <label for="instagram">Instagram</label>
                              <input type="text" class="form-control" name="instagram" id="instagram"
                                placeholder="Masukan nama instagram">
                            </div>
                            <div class="form-group col-md-6" id="color">
                              <label for="email">Email</label>
                              <input type="email" class="form-control" name="email" id="email"
                                placeholder="Masukan email">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <a href="/admin/patner" class="btn btn-warning mr-2">Kembali</a>
                          <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>

                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">

            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <%- include('../../layout/footer.ejs') %>
        <script>
          //No Hp INDO
          $('[data-mask]').inputmask()

          $('#color').hide()
          $('#isRequestLogo').on('change', function () {
            const valueSelect = $(this).val();
            if (valueSelect == 1) {
              $('#color').show()
            } else {
              $('#color').hide()
            }
          })

          $('.my-colorpicker2').colorpicker()
          $('.my-colorpicker2').on('colorpickerChange', function (event) {
            $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
          })
        </script>