<%- include('../../layout/header.ejs') %>
  <%- include('../../layout/navbar.ejs') %>
    <%- include('../../layout/sidebar.ejs') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <%- include('../../layout/message.ejs') %>
                <div class="col-sm-6">
                  <h1 class="m-0">Patner</h1>
                </div>
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-12">

                <div class="card">
                  <div class="card-header mb-2">
                    <h3 class="card-title">
                      Form Ubah Patner
                    </h3>
                  </div>
                  <!-- /.card-header -->
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="true">Profil</a>
                      <a class="nav-link" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab"
                        aria-controls="nav-password" aria-selected="false">Ganti Password</a>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel"
                      aria-labelledby="nav-profile-tab">
                      <div class="card-body">

                        <form action="/admin/patner?_method=PUT" method="POST" enctype="multipart/form-data">
                          <div class="row">
                            <div class="form-group col-md-6">
                              <label for="nameOwner">Nama Pemilik Toko *</label>
                              <input type="text" class="form-control" name="nameOwner" id="nameOwner"
                                placeholder="Masukan nama pemilik toko" value="<%= patner.nameOwner %>" required>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="noNik">No NIK *</label>
                              <input type="text" class="form-control" name="noNik" id="noNik"
                                placeholder="Masukan nomer NIK" value="<%= patner.noNik %>" required>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="address">Alamat Pemilik Toko *</label>
                              <textarea type="text" class="form-control" name="address" id="address"
                                placeholder="Masukan alamat pemilik toko" rows="3"
                                required><%= patner.address %></textarea>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="locationStore">Lokasi Toko *</label>
                              <textarea type="text" class="form-control" name="locationStore" id="locationStore"
                                placeholder="Masukan lokasi toko" rows="3"
                                required><%= patner.locationStore %></textarea>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="noHp">No HP / WA *</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text bg-white"><i class="fas fa-phone"></i></span>
                                </div>
                                <input type="text" class="form-control" name="noHp" id="noHp"
                                  data-inputmask='"mask": "(+62) 999-9999-9999"' value="<%= patner.noHp %>" data-mask
                                  required>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="nameBrand">Nama Brand *</label>
                              <input type="text" class="form-control" name="nameBrand" id="nameBrand"
                                placeholder="Masukan nama brand" value="<%= patner.nameBrand %>" required>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="tagline">Tagline *</label>
                              <input type="text" class="form-control" name="tagline" id="tagline"
                                placeholder="Masukan teks tegline" value="<%= patner.tagline %>" required>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="isRequestLogo">Request Logo *</label>
                              <select name="isRequestLogo" id="isRequestLogo" class="form-control" required>
                                <option selected value="<%= patner.isRequestLogo %>">
                                  <%= patner.isRequestLogo ? "Ya" : "Tidak" %>
                                </option>
                                <option value=""> -- Request logo -- </option>
                                <option value="1">Ya</option>
                                <option value="0">Tidak</option>
                              </select>
                            </div>

                            <div class="form-group col-md-6" id="color-edit">
                              <label for="color">Warna *</label>
                              <div class="input-group my-colorpicker2">
                                <input type="text" name="color" id="color" class="form-control">
                                <div class="input-group-append">
                                  <span class="input-group-text"><i class="fas fa-square"></i></span>
                                </div>
                              </div>
                            </div>

                            <div class="form-group col-md-6">
                              <label for="image">Unggah Foto KTP *</label>
                              <input type="file" class="form-control" name="image" id=" image">
                              <span>Pilih gambar jika ingin mengubah</span>
                            </div>
                            <div class="form-group col-md-6" id="email">
                              <label for="email">Email *</label>
                              <input type="email" class="form-control" name="email" id="email"
                                value="<%= patner.email %>" placeholder="Masukan email" required>
                            </div>

                            <!-- Social Media -->
                            <div class="col-md-12 mt-2">
                              <h5 class="text-bold">Sosial Media</h5>
                              <div class="row">
                                <div class="form-group col-md-6" id="color">
                                  <label for="facebook">Facebook</label>
                                  <input type="text" class="form-control" name="facebook" id="facebook"
                                    placeholder="Masukan username facebook" value="<%= patner.facebook %>">
                                </div>
                                <div class="form-group col-md-6" id="color">
                                  <label for="instagram">Instagram</label>
                                  <input type="text" class="form-control" name="instagram" id="instagram"
                                    placeholder="Masukan nama instagram" value="<%= patner.instagram %>">
                                </div>

                                <span>* form wajib diisi</span>
                              </div>
                            </div>

                            <div class="col-md-6 mt-2">
                              <input type="hidden" name="id" value="<%= patner._id %>">
                              <a href="/admin/patner" class="btn btn-warning mr-2">Kembali</a>
                              <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                          </div>
                        </form>

                      </div>
                      <!-- /.card-body -->
                    </div>

                    <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                      <!-- Ubah Password -->
                      <div class="card-body">
                        <form action="" method="post">
                          <div class="row">

                            <div class="form-group col-md-6">
                              <label for="password_old">Password Lama</label>
                              <input type="password" class="form-control" name="password_old" id="password_old"
                                placeholder="Masukan password lama">
                            </div>

                            <div class="form-group col-md-6">
                              <label for="password_new">Password Baru</label>
                              <input type="password" class="form-control" name="password_new" id="password_new"
                                placeholder="Masukan password baru">
                            </div>

                            <div class="form-group col-md-6">
                              <label for="conf_password_new">Confirm Password Baru</label>
                              <input type="password" class="form-control" name="conf_password_new"
                                id="conf_password_new" placeholder="Masukan confirm password baru">
                            </div>

                            <div class="col-md-12 mt-2">
                              <a href="/admin/patner" class="btn btn-warning mr-2">Kembali</a>
                              <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">

            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <%- include('../../layout/footer.ejs') %>
        <script>
          //No Hp INDO
          $('[data-mask]').inputmask()

          $('#color-edit').hide()
          $('#isRequestLogo').on('change', function () {
            const valueSelect = $(this).val();
            if (valueSelect == 1) {
              $('#color-edit').show()
            } else {
              $('#color-edit').hide()
            }
          })

          $('.my-colorpicker2').colorpicker()
          $('.my-colorpicker2').on('colorpickerChange', function (event) {
            $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
          })


        </script>