<%- include('../../layout/header.ejs') %>
  <%- include('../../layout/navbar.ejs') %>
    <%- include('../../layout/sidebar.ejs') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Patner</h1>
              </div>
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-12">

                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">DataTable with default features</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="table_patner" class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Nama Lengkap</th>
                          <th>Username</th>
                          <th>Email</th>
                          <th>No Hp / WA</th>
                          <th>Lokasi</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(let i=1; i<=10; i++) { %>
                          <tr>
                            <td>
                              <%= i %>
                            </td>
                            <td>Wahyu Nur Fadillah
                            </td>
                            <td>wahyu</td>
                            <td>wahyu@email.com</td>
                            <td>080800808080</td>
                            <td>Jl. Pelajar Timur </td>
                            <td>
                              <a href="#" class="btn btn-sm text-primary"><i class="fa fa-info-circle"></i></a>
                              <a href="#" class="btn btn-sm text-primary"><i class="fa fa-edit"></i></a>
                              <a href="#" class="btn btn-sm text-primary"><i class="fa fa-trash"></i></a>
                            </td>
                          </tr>
                          <% } %>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>No</th>
                          <th>Nama Lengkap</th>
                          <th>Username</th>
                          <th>Email</th>
                          <th>No Hp / WA</th>
                          <th>Lokasi</th>
                          <th>Aksi</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">

            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <%- include('../../layout/footer.ejs') %>

        <script>
          $(function () {
            $("#table_patner").DataTable({
              "responsive": true
            })
          });
        </script>