<%- include('../../layout/header.ejs') %>
  <%- include('../../layout/navbar.ejs') %>
    <%- include('../../layout/sidebar.ejs') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Suplai Bahan</h1>
              </div>
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-12">

                <div class="card">
                  <div class="card-header">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                      data-target="#ModalAddMaterialDrink">
                      Tambah Suplai Bahan
                    </button>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="table_material_drink" class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Nama</th>
                          <th>Unit</th>
                          <th>Harga</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% data.forEach((e, i)=> { %>
                          <tr>
                            <td>
                              <%= i+1 %>
                            </td>
                            <td>
                              <%= e.name %>
                            </td>
                            <td>
                              <%= e.unit %>
                            </td>
                            <td>
                              <%= e.price %>
                            </td>
                            <td>
                              <!-- <a href="#" class="btn btn-sm text-primary"><i class="fa fa-info-circle"></i></a> -->
                              <a type="button" href="javascript:void()"
                                class="btn btn-sm text-primary button-edit-material-drink" data-name="<%= e.name %>"
                                data-unit="<%= e.unit %>" data-price="<%= e.price %>"><i class="fa fa-edit"></i></a>
                              <a href="#" class="btn btn-sm text-primary"><i class="fa fa-trash"></i></a>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">

            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <%- include('./add.ejs') %>
        <%- include('../../layout/footer.ejs') %>

          <script>
            $(function () {
              $("#table_material_drink").DataTable({
                "responsive": true
              })
            });

            $('#table_material_drink').on('click', '.button-edit-material-drink', function () {
              let name = $(this).data('name')
              let unit = $(this).data('unit')
              let price = $(this).data('price')
              //FIXME MODAL BELUM MUNCUL
              $('#ModalEditMaterialDrink').modal('show')
            })

          </script>