<%- include('../../layout/header.ejs') %>
  <%- include('../../layout/navbar.ejs') %>
    <%- include('../../layout/sidebar.ejs') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <%- include('../../layout/message.ejs') %>
                <div class="col-sm-6">
                  <h1 class="m-0">Paket Franchise</h1>
                </div>
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-12">

                <div class="card">
                  <div class="card-header">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddTypeBundle">
                      Tambah Paket Franchise
                    </button>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="table_type_bundle" class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Judul</th>
                          <th>Keterangan</th>
                          <th>Harga</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% typeBundles.forEach((typeBundle, i)=> { %>
                          <tr>
                            <td>
                              <%= i+1 %>
                            </td>
                            <td>
                              <%= typeBundle.title %>
                            </td>
                            <td>
                              Rp. <%= typeBundle.price %>,-
                            </td>
                            <td>
                              <%= typeBundle.description %>
                            </td>
                            <td>
                              <form action="/admin/type_bundle/<%= typeBundle._id %>?_method=DELETE" method="POST">
                                <a href="/admin/type_bundle/<%= typeBundle._id %>" class="btn btn-sm text-primary">
                                  <i class="fa fa-info-circle"></i>
                                </a>

                                <a href="javascript:voit()" data-title="<%= typeBundle.title %>"
                                  data-id="<%= typeBundle._id %>" data-price="<%= typeBundle.price %>"
                                  data-description="<%= typeBundle.description %>"
                                  class="btn btn-sm text-primary button-edit">
                                  <i class="fa fa-edit"></i>
                                </a>
                                <button type="submit" class="btn btn-sm text-primary"><i
                                    class="fa fa-trash"></i></button>
                              </form>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">

            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <%- include('../../layout/footer.ejs') %>
        <%- include('./add.ejs') %>
          <%- include('./edit.ejs') %>

            <script>
              $(function () {
                $("#table_type_bundle").DataTable({
                  "responsive": true,
                  "columnDefs": [
                    {
                      "targets": 0,
                      "width": "5%"
                    },
                    {
                      "targets": 3,
                      "width": "50%"
                    },

                    {
                      "targets": 4,
                      "orderable": false
                    }
                  ]
                })
              });

              // Even Click Button Edit
              $('#table_type_bundle').on('click', '.button-edit', function () {

                // assign variable from data paket franchise
                let title = $(this).data('title')
                let price = $(this).data('price')
                let description = $(this).data('description')
                let id = $(this).data('id')

                // Display value on form
                $('.title').val(title)
                $('.price').val(price)
                $('.description').val(description)
                $('.id').val(id)

                // Display Modal
                $('#ModalEditTypeBundle').modal('show')
              })

            </script>