<%- include('../../layout/header.ejs') %>
  <%- include('../../layout/navbar.ejs') %>
    <%- include('../../layout/sidebar.ejs') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <%- include('../../layout/message.ejs') %>
                <div class="col-sm-6">
                  <h1 class="m-0">Sosial Media Utama</h1>
                </div>
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-12">

                <div class="card">
                  <div class="card-header">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                      data-target="#ModalAddSocialMedia">
                      Tambah Sosial Media
                    </button>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="table_social_media" class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Username</th>
                          <th>Media</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for( let index=0; index < data.length; index++ ) { %>
                          <tr>
                            <td>
                              <%= index+1 %>
                            </td>
                            <td>
                              <%= data[index].username %>
                            </td>
                            <td>
                              <%= data[index].media %>
                            </td>
                            <td>
                              <form action="/admin/social_media/<%= data[index]._id %>?_method=DELETE" method="POST">
                                <a href="javascript:void()" data-id="<%= data[index]._id %>"
                                  data-username="<%= data[index].username %>" data-media="<%= data[index].media %>"
                                  type="button" class="btn btn-sm text-primary button-edit"><i
                                    class="fa fa-edit"></i></a>
                                <button type="submit" class="btn btn-sm text-primary">
                                  <i class="fa fa-trash"></i>
                                </button>
                              </form>
                            </td>
                          </tr>
                          <% } %>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">

            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <%- include('./add.ejs') %>
        <%- include('./edit.ejs') %>
          <%- include('../../layout/footer.ejs') %>

            <script>

              // Config a data tabel
              $(function () {
                $("#table_social_media").DataTable()
              });

              $('#table_social_media').on('click', '.button-edit', function () {
                // take all data in variable
                let id = $(this).data('id')
                let media = $(this).data('media')
                let username = $(this).data('username')

                // display data on from input
                $('.username').val(username);
                $('.media').val(media);
                $('.id').val(id);

                // display a modal
                $('#ModalEditSocialMedia').modal('show')
              })
            </script>