<%- include('../../layout/header.ejs') %>
  <%- include('../../layout/navbar.ejs') %>
    <%- include('../../layout/sidebar.ejs') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Admin</a></li>
                <li class="breadcrumb-item"><a href="/admin/product">Produk</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= product.name %></li>
              </ol>
            </nav>
            <div class="row mb-2">
              <%- include('../../layout/message.ejs') %>
                <div class="col-sm-6">
                  <h1 class="m-0">Info Produk</h1>
                </div>
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-12">

                <div class="card">
                  <div class=" card-body">
                    <div class="row">

                      <form class="col-md-6" enctype="multipart/form-data" action="/admin/product/addimages/<%= product._id%>" method="post" id="form-upload">
                        <div class="d-flex flex-wrap">
                          <% product.imageUrl.forEach(function(img, i) { %>
                          <form class="position-relative" action="/admin/product/deleteImage/<%= product._id%>/<%= img._id %>?_method=DELETE" method='POST'>
                            <button type="submit" class="position-absolute btn btn-danger btn-sm" style="right: 0">x</button>
                            <img src="/<%= img.imageUrl %>" class="img-fluid rounded img-thumbnail m-2 img-produk" 
                                                          width="<%= i == 0 ? '500px' : '150px' %>" alt="<%= img.imageUrl %>">
                          </form>
                          <% }) %>
                            <input type="file" style="display: none" name="image" id="image" multiple>
                            <button type='submit' id="btn-upload" style="width: 150px" class="btn btn-sm" >
                              <i class="fa fa-plus"></i>
                            </button>
                        </div>
                      </form>
                      <div class="col-md-6">
                        <div class="mb-2">
                          <h2 class="h4 text-dark font-weight-bold d-block"><%= product.name %></h2>
                        </div>
                        <div>
                          <span class="text-muted d-block">Harga</span>
                          <span class="text-dark font-bold d-block h3 text-danger">Rp <%= priceHasFormat %>,-</span>
                        </div>
                        <div>
                          <span class="text-muted d-block">Deskripsi</span>
                          <span class="text-dark font-bold d-block h5"><%= product.description %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">

            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <%- include('../../layout/footer.ejs') %>

      <script>
        jQuery(function($) {
          $("#btn-upload").on('click', function(e) {
            e.preventDefault();
            $('#image').trigger('click');
          })

          $("#image").change(function() {
            $("#form-upload").submit()
          })

        })
      </script>
