
<%- include('../../layout/header.ejs') %>
  <%- include('../../layout/navbar.ejs') %>
    <%- include('../../layout/sidebar.ejs') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Admin</a></li>
                        <li class="breadcrumb-item"><a href="/admin/product">Produk</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><%= product.name %></li>
                      </ol>
                    </nav>
            <div class="row mb-2">
              <%- include('../../layout/message.ejs') %>
                <div class="col-sm-6">
                  <h1 class="m-0">Info Produk</h1>
                </div>
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-12">

                <div class="card">
                  <div class=" card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <% product.imageUrl.forEach(function(img) { %>
                        <img src="/<%= img.imageUrl %>" class="img-fluid rounded img-thumbnail m-2" width="300px" alt="<%= img.imageUrl %>">
                        <% }) %>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-2">
                          <span class="text-muted d-block">Nama</span>
                          <span class="h4 text-dark font-bold d-block"><%= product.name %></span>
                        </div>
                        <div>
                          <span class="text-muted d-block">Deskripsi</span>
                          <span class="text-dark font-bold d-block h5"><%= product.description %></span>
                        </div>
                        <div>
                          <span class="text-muted d-block">Harga</span>
                          <span class="text-dark font-bold d-block h5">Rp <%= priceHasFormat %>,-</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">

            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <%- include('../../layout/footer.ejs') %>

